In [1]:
# Dependencies
import requests
import json
import pandas as pd
# Google developer API key
from config import gkey
from gmplot import gmplot

In [2]:

#Victim API
url2 = "http://clt-charlotte.opendata.arcgis.com/datasets/2564657b1e9a4883ab388badadbeef6d_5.geojson"
response2 = requests.get(url2)
df_victim = pd.DataFrame(response2.json()['features'])
arr2 = []
for b in df_victim["properties"]:
    arr2.append(b)
df_victim = pd.DataFrame(arr2)
df_victim.head()

,CreationDate,Creator,EditDate,Editor,INCIDENT_ID,INDIVIDUAL_AGE,INDIVIDUAL_GENDER,INDIVIDUAL_INJURY_TYPE,INDIVIDUAL_RACE,Latitude,Longitude,ObjectID,YR
0,2018-04-02T09:02:13.545Z,CharlotteNC,2018-04-02T09:02:13.545Z,CharlotteNC,1649,33.0,Male,Miss,Black,35.224496,-80.896504,1,2005
1,2018-04-02T09:02:13.545Z,CharlotteNC,2018-04-02T09:02:13.545Z,CharlotteNC,1739,25.0,Male,Non-Fatal Injury,White,35.226991,-80.729299,2,2005
2,2018-04-02T09:02:13.545Z,CharlotteNC,2018-04-02T09:02:13.545Z,CharlotteNC,1953,67.0,Male,Fatal Injury,White,35.199025,-80.756286,3,2005
3,2018-04-02T09:02:13.545Z,CharlotteNC,2018-04-02T09:02:13.545Z,CharlotteNC,2421,25.0,Male,Miss,Black,35.219339,-80.876367,4,2005
4,2018-04-02T09:02:13.545Z,CharlotteNC,2018-04-02T09:02:13.545Z,CharlotteNC,1875,19.0,Male,Miss,Black,35.144363,-80.861774,5,2005

In [3]:
#Officer Data
url3 = "http://clt-charlotte.opendata.arcgis.com/datasets/635b5f06b7934d11be37a2e391235a1e_6.geojson"
response3 = requests.get(url3)
df3 = pd.DataFrame(response3.json()['features'])
arr3 = []
for b in df3["properties"]:
    arr3.append(b)
df3 = pd.DataFrame(arr3)
#df3

In [4]:
#http://clt-charlotte.opendata.arcgis.com/datasets/36b534fc414640fa843fc780f6d9aaf5_4.geojson
#Incident Data
url4 = "http://clt-charlotte.opendata.arcgis.com/datasets/36b534fc414640fa843fc780f6d9aaf5_4.geojson"
response4 = requests.get(url4)
df_incident = pd.DataFrame(response4.json()['features'])
arr4 = []
for b in df_incident["properties"]:
    arr4.append(b)
df_incident = pd.DataFrame(arr4)
df_incident.head()

,CreationDate,Creator,DA_LEGAL_REVIEW,EditDate,Editor,INCIDENT_ID,LOCATION,Latitude,Longitude,MN,NARRATIVE,ObjectID,YEAR_MONTH,YR
0,2018-04-03T09:01:53.227Z,CharlotteNC,Legally Justified,2018-04-03T09:01:53.227Z,CharlotteNC,7307,"ORVIS STREET, CHARLOTTE 28216",35.252694,-80.849701,8,Officers served a high risk search warrant. Up...,1,2008-08,2008
1,2018-04-03T09:01:53.227Z,CharlotteNC,Legally Justified,2018-04-03T09:01:53.227Z,CharlotteNC,7699,"N TRYON STREET, CHARLOTTE 28213",35.258041,-80.784238,11,"Officers attempted to make a traffic stop, but...",2,2008-11,2008
2,2018-04-03T09:01:53.227Z,CharlotteNC,No DA review,2018-04-03T09:01:53.227Z,CharlotteNC,9687,"E W.T. HARRIS BOULEVARD, CHARLOTTE 28227",35.198285,-80.726353,3,An officer was circulating an apartment comple...,3,2010-03,2010
3,2018-04-03T09:01:53.227Z,CharlotteNC,Legally Justified,2018-04-03T09:01:53.227Z,CharlotteNC,10386,"BARRINGTON DRIVE, CHARLOTTE 28278",35.236462,-80.743223,7,Officers observed a large crowd of individuals...,4,2010-07,2010
4,2018-04-03T09:01:53.227Z,CharlotteNC,Legally Justified,2018-04-03T09:01:53.227Z,CharlotteNC,10392,"PARK ROAD, CHARLOTTE 28209",35.173350,-80.851284,7,Officers responded to a robbery from business ...,5,2010-07,2010

In [5]:
#This drops an incident that is missing a latitude or a longitude
df_victim = df_victim.dropna(axis=0, subset=['Latitude', 'Longitude'],how='any')
df_victim=df_victim.reset_index(drop=True)

In [6]:
#North Carolina has FIPS of 37
#Mecklenburg County is FIPS of 119

In [31]:
# Place map
gmap = gmplot.GoogleMapPlotter(df_victim["Latitude"].mean(), df_victim["Longitude"].mean(), 11.5)

arr = []
for i in range(len(df_victim["Longitude"])):
    arr.append((df_victim["Latitude"][i],df_victim["Longitude"][i]))
    incident = df_victim["INCIDENT_ID"][i]
    #description=df_incident.loc[df_incident["INCIDENT_ID"]==incident,["NARRATIVE"]]
    #try:
    #    gmap.marker(df_victim['Latitude'][i], df_victim['Longitude'][i],
    #                title=df_incident.loc[df_incident["INCIDENT_ID"]==incident,["NARRATIVE"]])
    #gmap.marker(df_victim['Latitude'][i], df_victim['Longitude'][i],title=description)
    gmap.marker(df_victim['Latitude'][i], df_victim['Longitude'][i],title=df_victim['INDIVIDUAL_INJURY_TYPE'][i])
# Polygon
#golden_gate_park_lats, golden_gate_park_lons = zip(*arr)
#gmap.plot(golden_gate_park_lats, golden_gate_park_lons, 'cornflowerblue', edge_width=10)

# Scatter points
shots_lats, shots_lons = zip(*arr)
gmap.scatter(shots_lats, shots_lons, 'rgb(200,0,0)', size=200, marker=False)

# Marker
#hidden_gem_lat, hidden_gem_lon = df_victim["Latitude"].head(10).mean(), df_victim["Longitude"].head(10).mean()
#gmap.marker(hidden_gem_lat, hidden_gem_lon, 'cornflowerblue')

# Draw
gmap.draw("CMPD_Shootings_Map.html")

In [ ]:
df_victim.to_csv("shootings.csv")

In [24]:
import webbrowser


webbrowser.open_new_tab('CMPD_Shootings_Map.html')

True